In [1]:
import pandas as pd
from scipy.stats import wilcoxon
import os.path

In [2]:
BASE_DIR = '/mnt/Enterprise/safal/AI_assisted_microscopy_system/Results'

In [3]:
non_expert_1 = os.path.join(BASE_DIR, 'Human_non_experts', 'Non_expert_1_mapped.csv')
non_expert_2 = os.path.join(BASE_DIR, 'Human_non_experts', 'Non_expert_2_mapped.csv')
non_expert_3 = os.path.join(BASE_DIR, 'Human_non_experts', 'Non_expert_3_mapped.csv')
expert = "/mnt/Enterprise/safal/AI_assisted_microscopy_system/cysts_dataset_all/smartphone_sample_test/data_info.csv"

In [4]:
faster_rcnn = "/mnt/Enterprise/safal/AI_assisted_microscopy_system/outputs/smartphone_sample/faster_rcnn/faster_rcnn_prediction_count.csv"
retinanet = "/mnt/Enterprise/safal/AI_assisted_microscopy_system/outputs/smartphone_sample/retinanet/retinanet_prediction_count.csv"
yolov8 = "/mnt/Enterprise/safal/AI_assisted_microscopy_system/outputs/smartphone_sample/yolov8/yolov8_prediction_count.csv"

In [131]:
# read excel from second row
non_expert_1_df = pd.read_csv(non_expert_3)
expert_df = pd.read_csv(yolov8)

In [132]:
non_expert_1_df

      image_name  Crypto  Giardia
0    SS_TEST0000     0.0      0.0
1    SS_TEST0001     0.0      0.0
2    SS_TEST0002     0.0      0.0
3    SS_TEST0003     0.0      0.0
4    SS_TEST0004     0.0      0.0
..           ...     ...      ...
188  SS_TEST0188     2.0      0.0
189  SS_TEST0189     2.0      1.0
190  SS_TEST0190     1.0      1.0
191  SS_TEST0191     2.0      1.0
192  SS_TEST0192     2.0      2.0

[193 rows x 3 columns]

In [133]:
expert_df

      image_name  Crypto  Giardia
0    SS_TEST0000     1.0      0.8
1    SS_TEST0001     1.0      0.2
2    SS_TEST0002     1.0      0.4
3    SS_TEST0003     1.0      0.0
4    SS_TEST0004     0.6      0.4
..           ...     ...      ...
188  SS_TEST0188     0.2      0.2
189  SS_TEST0189     1.4      0.2
190  SS_TEST0190     1.0      0.0
191  SS_TEST0191     0.8      0.8
192  SS_TEST0192     0.8      1.0

[193 rows x 3 columns]

In [134]:
wilcoxon(expert_df['Giardia'], non_expert_1_df['Giardia'])

WilcoxonResult(statistic=1695.5, pvalue=6.42299150657285e-15)

In [135]:
wilcoxon(non_expert_1_df['Crypto'], expert_df['Crypto'])

WilcoxonResult(statistic=3921.5, pvalue=1.816755505862414e-06)

In [136]:
import numpy as np

In [137]:
giardia_relialibity_data = np.stack([expert_df['Giardia'], non_expert_1_df['Giardia']])
crypto_relialibity_data = np.stack([expert_df['Crypto'], non_expert_1_df['Crypto']])

In [138]:
import krippendorff
krippendorff.alpha(giardia_relialibity_data, level_of_measurement="ordinal")

-0.18500131544475917

In [139]:
krippendorff.alpha(crypto_relialibity_data, level_of_measurement="ordinal")

-0.0585278086146277